* :not(mjx-container *) {
    font-size: 16px;
    font-family: 'Noto Sans JP', Arial, sans-serif;
}
body {
    height: 100%;
    margin: 20px;
    padding: 0;
    font-size: medium;
}

header img {
    width: 800px;
    max-width: 100%;
}
ul {
    padding-left: 20px;
}
li {
    line-height: 150%;
    padding-right: 10px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.left {
    width: 50%;
    aspect-ratio: 4 / 3;
    max-width: 800px;
}
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#converter, #description {
    width: 100%;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .left, .right {
        width: 100%;
    }

}

/* すべてのブラウザで一貫したスタイルにするために基本リセット */
button, select {
    height: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: black;
    padding: 0 10px;
    border: solid;
    border-width: thin;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
select {
    padding-right: 30px;
}
button:hover, select:hover {
    background-color: white;
}
  
button:focus, select:focus {
    outline: none;
    box-shadow: 0 0 3px #eee;
}

table {
    height: min-content;
    border-collapse: collapse;
    border: 1.5px solid  #999;
    text-align: left;
}
th, td {
    height: fit-content;
    font-weight: normal;
    border: 1px solid #999;
    padding: 8px 4px;
}
th {
    min-width: 80px;
    background: #ddd;
}
.jochome, .jochome * {
    font-size: 14px;
    width: auto;
    height: 20px;
    box-sizing:border-box;
}
input.jochome {
    width: 100px;
}
caption {
    caption-side: top;
    text-align: left;
    padding: 6px 0;
    font-weight: bold;
}
#latLng {
    font-size: 14px;
    width: 300px;
}

#originImage {
    height: 400px;
    max-height: 100%;
    aspect-ratio: 3 / 4;
}